<h3>Welcome <%= @user["name"] %> !</h3>
<a href="/users/<%= session[:user_id] %>/edit" style='font: 13px arial, sans-serif'>Edit Profile</a>
<br>
<% if flash[:nosecret]%>
<p><%= flash[:nosecret]%></p>
<% end %>
<br>
<br>
<hr>
<h3>Your secrets:</h3>
<% @secrets.each do |secret| %>
<p style='font:16px tahoma, sans-serif'><%= secret.content %></p>
<p style='font:12px arial, sans-serif'><%= secret.likes.count %> likes</p>
  <% if secret.likes.any? {|like| like.user_id == session[:user_id]} %>
    <form action="/likes" method="post">
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='secret_id' value='<%= secret.id %>'>
      <input type="hidden" name="_method" value="delete">
      <input type='submit' name='Unlike' value='Unlike'>
    </form>
  <% else %>
    <form action='/likes' method='post'>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type='hidden' name='secret_id' value='<%= secret.id %>'>
      <input type='submit' name='Like' value='Like'>
    </form>
  <% end %>
  <form action="/secrets/<%= secret.id %>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="_method" value="delete">
    <br><input class='button' type='submit' name='Delete' value='Delete'/>
  </form>
<% end %>

<br>
<form action="/secrets" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" value="<%= session[:user_id]%>">
  <label>
  New Secret <input type="text" name="secret">
  </label>
  <input type="submit" name="submit" value="Create Secret">
</form>
